@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

:root {
  --primary-color-body: #ffffff;
  --secondary-color-body: #0d1117;
  --primary-color-letter : #3c484e;
  --secondary-color-letter : #e6edf3;
  --primary-color-button : #007bff;
  --secundary-color-button : #0056b3;
  --primary-color-border : #ccc;
  --secondary-color-border : #fff;
  
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-color-letter);
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-color-body);
}

.Main {
  padding: 60px 10px;
  grid-template-columns: minmax(auto, 768px);
  display: grid;
  justify-content: center;
}

.Main h1 {
  text-align: center;
}

.Items {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.Card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 1s;
  animation-name: fade;
}

.Card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Card h2 {
  margin: 2px; /* aumentamos este */
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.Card p { /*  aumentamos este */
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  
}

/* header */

header {
  background-color: var(--primary-color-body);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

header > div {
  display: flex;
  align-items: center;

}

header img {
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Esto asegura que la imagen mantenga su relación de aspecto */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  border-radius: 10px;
  cursor: pointer;
}
header img:hover {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  color: var(--primary-color-letter);
  font-size: 20px;
  text-decoration: none;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: pointer;
}

nav ul li a{
  margin-right: 20px; /* Espacio entre los elementos de la lista */
  font-size: 16px;
  padding: 5px;
}

nav ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

/*.Login */

.login {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background-color: var(--primary-color-body);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login figure  {
  display: flex;
  justify-content: center;
}
.login figure img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color-border);
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary-color-button);
  color: var(--secondary-color-border);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type="submit"]:hover {
  background-color: var(--secundary-color-button);
}
button[type="button"] {
  padding: 10px 20px;
  background-color: var(--primary-color-button);
  color: var(--secondary-color-border);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type="button"]:hover {
  background-color: var(--secundary-color-button);
}

/* Aplicamos estilos de header al formulario */


.login header {
  position: initial; /* Quitamos la posición fija */
  background-color: initial; /* Quitamos el color de fondo */
  box-shadow: none; /* Quitamos la sombra */
  padding: 0; /* Quitamos el relleno */
}

.login header img {
  width: 30px; /* Ajustamos el tamaño de la imagen */
  border-radius: 50%; /* Hacemos que la imagen sea circular */
}

.login header a {
  font-size: 16px; /* Reducimos el tamaño del texto */
  margin-right: 0; /* Eliminamos el margen derecho */
}

.login footer {
  display: none; /* Ocultamos el footer */
}

/* home */
#home{
  width: 100%;
  height: 790px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
#home figure{
  margin: 10px;
  
}
#home figure img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#home figure img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }



/* INACTIVE */

.inactive{
  display: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

